{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} About {% endblock %}</h1>
    <p> In this web app, you can freely post and view reviews from all over the world. Share your experience with everyone and view reviews from resturants around the world.
        <p>
            This web app was created using python and flask. The data captured in this website is manipulated through a cloud PostgreSQL database on render.com. 
        <p>
        <p>
            The source code of this app is <a href="https://github.com/Masaaki-Kato981/restaurant_reviews_deploy_web"
            >available on Github</a
        <p>
    </p>
{% endblock %}